div(layout-gt-sm='row', flex="")
  md-divider()
  div(flex-gt-sm='50')
    div(layout='column', layout-padding="", layout-margin="")
      div(layout='column')
        div(layout='row', layout-align='start center')
          h5.md-title Clasificación
        div(layout='row', layout-align='start center')
          span.md-body-1 Los polígonos regulares según la cantidad de sus lados se denominan:
        br()
        md-slider(flex='', md-discrete='',
        ng-model='regularPolygonsController.sections.classification.sides', step='1',
        min='{{::regularPolygonsController.sections.classification.MIN_SIDES}}',
        max='{{::regularPolygonsController.sections.classification.MAX_SIDES}}',
        aria-label='sides',
        ng-change="::regularPolygonsController.sections.classification.onChangeSides(regularPolygonsController.sections.classification.sides)")

  //md-divider()
  div(flex='')
    div(flex="100")
      .svg-container-animation
        svg.svg-responsive#svg-regularPolygons(width="100%", height="100%", viewBox="0 0 300 250")
      div(layout='row', layout-align='center center')
        h4 {{regularPolygonsController.sections.classification.name}}: {{regularPolygonsController.sections.classification.sides}} lados
      div(layout='row', layout-align='center center')
        md-button.md-raised.md-primary(ng-click='regularPolygonsController.sections.classification.automaticClassification()')
          | Animar